{{ $theme := "" }}
{{ $shoutout := "" }}
{{ if .IsNamedParams }}
  {{ $theme = .Get "theme" }}
  {{ $shoutout = .Get "shoutout" }}
{{ end }}

{{ if ne ($.Site.Params.shoutouts_on_mb_embed_code | default "") "" }}
  {{ $separator := "" }}
  {{ $themeQueryString := "" }}
  {{ if $theme }}
    {{ $themeQueryString = (print "?theme=" $theme) }}
    {{ $separator = "&" }}
  {{ else if $shoutout }}
    {{ $separator = "?" }}
  {{ end }}

  {{ $shoutoutQueryString := "" }}
  {{ if $shoutout }}
    {{ $shoutoutQueryString = (print $separator "shoutout=" $shoutout) }}
  {{ end }}

  <script src="https://shoutouts.lol/embed/{{$.Site.Params.shoutouts_on_mb_embed_code}}.js{{ $themeQueryString }}{{ $shoutoutQueryString }}" defer></script>
{{ end }}
