{{ $theme := "" }}
{{ $shoutout := "" }}
{{ if .IsNamedParams }}
  {{ $theme = .Get "theme" }}
  {{ $shoutout = .Get "shoutout" }}
{{ end }}

{{ if ne ($.Site.Params.shoutouts_on_mb_embed_code | default "") "" }}
  <script src="{{ (printf "https://shoutouts.lol/embed/%s.js%s%s" $.Site.Params.shoutouts_on_mb_embed_code (if $theme (printf "?theme=%s" $theme) "") (if $shoutout (if $theme (printf "&shoutout=%s" $shoutout) (printf "?shoutout=%s" $shoutout)) "")) | safeURL }}" defer></script>
{{ end }}
