{{ $context := .context }}
{{ $theme := "" }}
{{ if isset . "theme" }}
  {{ $theme = .theme }}
{{ end }}
{{ $shoutout := "" }}
{{ if isset . "shoutout" }}
  {{ $shoutout = .shoutout }}
{{ end }}
{{ if ne ($context.Site.Params.shoutouts_on_mb_embed_code | default "") "" }}
  {{ $separator := "" }}
  {{ $themeQueryString := "" }}
  {{ if $theme }}
    {{ $themeQueryString = (print "?theme=" $theme) }}
    {{ $separator = "&" }}
  {{ else if $shoutout }}
    {{ $separator = "?" }}
  {{ end }}

  {{ $shoutoutQueryString := "" }}
  {{ if $shoutout }}
    {{ $shoutoutQueryString = (print $separator "shoutout=" $shoutout) }}
  {{ end }}
  
  <script src="https://shoutouts.lol/embed/{{$context.Site.Params.shoutouts_on_mb_embed_code}}.js{{ $themeQueryString }}{{ $shoutoutQueryString }}" defer></script>
{{ end }}
